/* Empty. Add your own CSS if you like */

#subtitulo {
    font-size: small;
    text-align: right;
}

.not-padding {
    padding: 0 !important;
}

.info-edicao {
    font-size: small;
    text-align: right;
}

.compalavra-background {
    background: #387ef5;
    position: relative;
    top: -4px;
}

.compalavra-titulo-autor {
    color: #fff;
    margin: 0 !important;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.compalavra-nome-autor {
    text-transform: uppercase;
    margin: 0 !important;
    padding-left: 10px;
    color: #000;
    text-align: left;
}

.compalavra-curso-autor {
    color: #000 !important;
    font-size: 10px !important;
    margin: 0 !important;
    padding-left: 10px;
    text-align: left;
}

.compalavra-titulo-conteudo {
    color: #000 !important;
    margin: 5px 10px !important;
}

.compalavra-texto-conteudo {
    margin: 5px 10px !important;
    text-align: justify;
    text-indent: 20px;
}
